//PALETTE CREAM BROWN-------------------
//NORMAL MODE--------------------------
$Lattecream: rgb(243, 238, 234);
$beige: rgb(235, 227, 213);
$coffee: rgb(176, 166, 149);
$brown: rgb(119, 107, 93);

//DARK MODE--------------------------
$darkLattecream: rgb(139, 136, 133);
$darkbeige: rgb(119, 115, 107);
$darkcoffee: rgb(72, 68, 62);
$darkbrown: rgb(41, 37, 32);

//RED PALLET (FALSE)-------------------------
$vintageRed: rgb(154, 59, 59);
$vintagedarkRed: rgb(95, 30, 8);

//GREEN PALLET (TRUE)-------------------------
$clearGreen: rgb(78, 159, 61);
$DarkGreen: rgb(30, 81, 40);


