//PALETTE CREAM BROWN-------------------
//NORMAL MODE--------------------------
$Lattecream: rgb(243, 238, 234); // #f3eeea
$beige: rgb(235, 227, 213);  // #ebe3d5
$coffee: rgb(176, 166, 149); // #b0a695
$brown: rgb(119, 107, 93); // #776b5d

//DARK MODE--------------------------
$darkLattecream: rgb(139, 136, 133); // #8b8885
$darkbeige: rgb(119, 115, 107); // #77736b
$darkcoffee: rgb(72, 68, 62); // #48443e
$darkbrown: rgb(41, 37, 32); // #292520

//RED PALLET (FALSE)-------------------------
$vintageRed: rgb(154, 59, 59); // #9a3b3b
$vintagedarkRed: rgb(95, 30, 8); // #5f1e08

//GREEN PALLET (TRUE)-------------------------
$clearGreen: rgb(78, 159, 61); // #4e9f3d
$DarkGreen: rgb(30, 81, 40); // #1e5128


