@import "./important/variable";
@import url('https://fonts.googleapis.com/css?family=Raleway|Droid+Sans|Roboto+Slab:400,700');
@import "./modal/modal";
@import "./darkmode/darkmode";
@import "./darkmode/toggle";
@import "./modal/modal";


* {
    font-family: "Raleway";
    font-weight: 400;
    // box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $beige;

}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

// LOGO--------------------------
.logo {
    background-color: $brown;
    border: 2px solid $darkbrown;
    // border-radius: 10px;
    box-shadow: 5px 5px 0px $darkbrown;
    // transition: all 0.3s ease;
    min-width: 50px;
    width: 10%;
    height: 10%;
    margin: 20px;
    padding: 10px;
}

// TITRE <H1>--------------------------
h1 {
    color: $beige;
    background-color: $brown;
    border: 2px solid $darkbrown;
    // border-radius: 10px;
    box-shadow: 5px 5px 0px $darkbrown;
    // transition: all 0.3s ease;
    padding: 10px 20px;
    font-weight: bold;
    // border-radius: 10px;
}

//ADD EVENT BOUTON ------------------------
button {
    padding: 10px 20px;
    font-size: 24px;
    margin: 20px;
    color: $Lattecream;
    background-color: $brown;
    border: 2px solid $darkbrown;
    // border-radius: 10px;
    box-shadow: 5px 5px 0px $darkbrown;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $Lattecream;
        color: $brown;
        border: 2px solid $brown;
        box-shadow: 5px 5px 0px $brown;
    }

    &:active {
        background-color: $Lattecream;
        box-shadow: none;
        transform: translateY(4px);
    }
}




/* MAIN */
.events {
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid $brown;

    &__description {
        color: $brown;
    }

    &__author {
        color: $darkbrown;
    }
}

h2 {
    color: $vintagedarkRed;

}

.eventBox {
    background-color: $beige;
    // width: 500px;
    border: 1px solid $brown;
    box-shadow: 5px 5px 0px $brown;
    // transition: all 0.3s ease;
    margin: 10px;
    padding: 10px;
}

//   TABLEAU--------------------------------
table {
    // width: 100%;
    margin: 10px;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid $brown;
    box-shadow: 5px 5px 0px $brown;
    // transition: all 0.3s ease;
}

td,
th {
    color: $brown;
    border: 1px solid $brown;
    padding: 5px;
}


//   NAMEINPUT--------------------------------
.nameInput {

    margin: 10px;
    width: 150px;
    height: 20px;
    border: 2px solid $brown;
    background-color: white;
    box-shadow: 4px 4px $brown;
    font-size: 15px;
    font-weight: 600;
    color: $darkcoffee;
    padding: 5px 10px;
    outline: none;

    &::placeholder {
        color: $darkcoffee;
        opacity: 0.8;
    }

    &:focus {
        border: 2px solid $darkbrown;
    }
}


.checkbox {
    margin: 5px;
    background-color: transparent;
    border: transparent;
    border: 1px solid $brown;
    background-color: $beige;
    box-shadow: 2px 2px 0px $brown;
}

.checkboxes {
    background-color: $beige;
}

label {
    color: $brown;
}