

html {
background-color: $darkbrown;
}


.darkmode {
    height: 100%;

    header,
    main {
        background-color: $darkbrown;


    }

    // LOGO--------------------------
    .logo {
        color: $Lattecream;
        background-color: $darkbrown;
        border: 2px solid $Lattecream;
        // border-radius: 10px;
        box-shadow: 5px 5px 0px $Lattecream;
        // transition: all 0.3s ease;

    }

    // TITRE <H1>--------------------------
    h1 {
        color: $Lattecream;
        background-color: $darkbrown;
        border: 2px solid $Lattecream;
        // border-radius: 10px;
        box-shadow: 5px 5px 0px $Lattecream;
        // transition: all 0.3s ease;
    }

    //ADD EVENT BOUTON ------------------------
    button {
        padding: 10px 20px;
        font-size: 24px;

        margin: 20px;
        color: $Lattecream;
        background-color: $darkbrown;
        border: 2px solid $Lattecream;
        // border-radius: 10px;
        box-shadow: 5px 5px 0px $Lattecream;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    button:hover {
        background-color: $brown;
        color: $Lattecream;
        border: 2px solid $Lattecream;
        box-shadow: 5px 5px 0px $Lattecream;
    }

    button:active {
        background-color: $brown;
        box-shadow: none;
        transform: translateY(4px);
    }

    /* MAIN */
    .events {
        display: flex;
        flex-wrap: wrap;

        // border: 2px solid $brown;
        &__title {
            background-color: $brown;
            color: $beige;
        }

        &__description {
            background-color: $brown;
            color: $beige;
        }

        &__author {
            background-color: $brown;
            color: $beige;
        }
    }

    h2 {
        color: $vintagedarkRed;

    }

    .eventBox {
        background-color: $brown;
        border: 1px solid $Lattecream;
        box-shadow: 5px 5px 0px $Lattecream;
        // transition: all 0.3s ease;
        margin: 10px;
        padding: 10px;
    }

    //   TABLEAU--------------------------------
    table {
        background-color: $brown;
        margin: 10px;
        padding: 10px;
        border-collapse: collapse;
        border: 1px solid $Lattecream;
        box-shadow: 5px 5px 0px $Lattecream;
        // transition: all 0.3s ease;
    }

    td,
    th {
        background-color: $brown;
        color: $Lattecream;
        border: 1px solid $Lattecream;
        padding: 5px;
    }

    // FORM-----------------------
    form {
        background-color: $brown;
        color: $beige;
    }

    //   NAMEINPUT--------------------------------
    .nameInput {

        margin: 10px;
        width: 150px;
        height: 20px;
        border: 2px solid $darkbrown;
        background-color: $beige;
        box-shadow: 4px 4px $darkbrown;
        font-size: 15px;
        font-weight: 600;
        color: $darkcoffee;
        padding: 5px 10px;
        outline: none;

        .input::placeholder {
            color: $darkcoffee;
            opacity: 0.8;
        }

        .input:focus {
            border: 2px solid $darkbrown;
        }
    }

    .checkboxes {
        background-color: $brown;
    }

    label {
        background-color: $brown;
        color: $beige;
    }


    .checkbox {
        margin: 5px;
        background-color: transparent;
        border: transparent;
        border: 1px solid $brown;
        border: 1px solid $brown;
        box-shadow: 2px 2px 0px $brown;
    }

    footer {
        background-color: $brown;
        color: $beige;
    }

    //MODAL BOX-----------------------
    .boite {


        &__contenu {
           
            color: $brown;
            background-color: $brown;
            box-shadow: 5px 5px 0px $brown;


            &__close {
                color: $coffee;
                color: $brown;
                background-color: $brown;
                border: 2px solid $brown;
                // border-radius: 10px;
                box-shadow: 5px 5px 0px $brown;
                // transition: all 0.3s ease;

                &__form {
                    &__modalInput {
                        border: 2px solid $brown;
                        background-color: white;
                        box-shadow: 4px 4px $brown;
                        color: $brown;

                        .input::placeholder {
                            color: $darkcoffee;
                        }

                        .input:focus {
                            border: 2px solid $darkbrown;
                        }
                    }

                }

                &__close {
                    color: $darkbrown;

                    &:focus,
                    &:hover {
                        color: $darkbrown;

                    }
                }
            }
        }
    }

    li {
        list-style: none;
}
//  footer {
//     background-color: $darkbrown;
//  }   
}